*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  font-weight: 400;
  line-height: 3rem;
  background-size: cover;
  background-color: #eee2de;
  transition: background 250ms ease;
  background-color: var(--bg-color);
  color: var(--font-color);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  --bg-color: #272727;
  --font-color: #fff;
}

html.dark-mode {
  --bg-color: #ffffff;
  --font-color: #636363;
}

/*NOTE:  profile part*/

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  padding: 3rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: end;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 15%;
  transition: all 0.3s;
}

.profile-img:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.title {
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.intro {
  text-align: center;
  margin-top: 3rem;
}

/* .social-meida {
} */

.icons {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  transform: rotate(360deg) scale(1.2);
}

/* NOTE: box part */

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  /* max-width: 800px; */
}

.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 150px;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  border-radius: 10px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.box h2 {
  margin: 0 0 1rem;
  font-size: 2rem;
}

.box p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.box:hover {
  border: 1px solid #0070f3;
  color: #0070f3;
}

/* NOTE: Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  font-size: 1.2rem;
}

.Github-link,
.Github-link:visited {
  color: #b31312;
  text-decoration: none;
}

.Github-link:hover {
  color: #2b2a4c;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

/*NOTE: dark mood button*/

/* .toggle .moon,
.toggle .sun {
  height: 1.5rem;
  width: 1.5rem;
} */

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 140px;
}
.toggle span {
  margin: 0 0.5rem;
}
.toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle input[type="checkbox"]:checked + label {
  background: #272727;
}
.toggle input[type="checkbox"]:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.toggle label {
  cursor: pointer;
  width: 75px;
  height: 34px;
  background: rgba(0, 0, 0, 0.27);
  display: block;
  border-radius: 40px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 40px;
  transition: 0.3s;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
